In [1]:
import pandas as pd

# kospi & kosdaq & konex
# http://marketdata.krx.co.kr/mdi#document=040601

# all
# http://kind.krx.co.kr/corpgeneral/corpList.do?method=download

In [2]:
df = pd.read_csv('./data/kospi.csv')
df = df[['종목코드', '기업명']]

df['종목코드'] = df['종목코드'].astype(str).str.zfill(6)

print(df.shape)
df.head()

(800, 2)

     종목코드      기업명
0  095570   AJ네트웍스
1  006840    AK홀딩스
2  027410      BGF
3  282330   BGF리테일
4  138930  BNK금융지주

In [ ]:
dataset = []

for i in df.index:
    data = {}
    data.update({ '종목코드': df['종목코드'][i] })
    data.update({ '기업명': df['기업명'][i] })
    
    dataset.append(data)

In [3]:
df = pd.read_csv('./data/kosdaq.csv')
df = df[['종목코드', '기업명']]

df['종목코드'] = df['종목코드'].astype(str).str.zfill(6)

print(df.shape)
df.head()

(1460, 2)

     종목코드     기업명
0  060310      3S
1  054620  APS홀딩스
2  265520   AP시스템
3  211270    AP위성
4  035760  CJ ENM